/*
*  html5 doctor css reset adopted for scoping by K15t | http://html5doctor.com/html-5-reset-stylesheet
*/
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

/*
* K15t specific part
*/
html, body {
  background: white !important;
}


html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  position: static;
  overflow-x: auto;
  overflow-y: auto;
}