/* Misc ******************************************************************************************/

.wiki-content .error {
    background-color: #FFCCCC;
}

.jira-macro-table .icon {
    max-width: none !important;
}


/* Paragraphs ************************************************************************************/

.wiki-content p {
    margin: 10px 0 0 0;
}

.wiki-content p:first-child {
    margin: 0;
}


/* Images ****************************************************************************************/

.wiki-content img {
    max-width: 100%;
}

.wiki-content img.confluence-content-image-border {
    border: 1px solid black;
}

img.userLogo {
    width: 48px;
    height: 48px;
    border-radius: 3px;
}

.page-history-additional-contributor-link img.userLogo,
.page-history-contributor-link img.userLogo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}


/* Heading Styling *******************************************************************************/

.wiki-content h1 {
    color: #333333;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    margin: 30px 0 0 0;
}

.wiki-content h2 {
    color: #333333;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    margin: 30px 0 0 0;
}

.wiki-content h3 {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin: 30px 0 0 0;
}

.wiki-content h4 {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857142857143;
    margin: 20px 0 0 0;
}

.wiki-content h5 {
    color: #707070;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.66666666666667;
    margin: 20px 0 0 0;
}

.wiki-content h6 {
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.66666666666667;
    margin: 20px 0 0 0;
}

/* Headings in tables (no sections) */
.wiki-content table h1:first-child,
.wiki-content table h2:first-child,
.wiki-content table h3:first-child,
.wiki-content table h4:first-child,
.wiki-content table h5:first-child,
.wiki-content table h6:first-child {
    margin-top: 0;
}


/* Tables ****************************************************************************************/

.wiki-content div.tablewrap {
    margin: 10px 0 0 0;
}

.wiki-content table {
	border-collapse: collapse;
	border: 1px solid red;
	margin-bottom: 1em;
    width: auto;
}

.wiki-content table th,
.wiki-content table td {
    padding: 7px 10px;
    border: 1px solid #DDDDDD;
    min-width: 0.6em;
    vertical-align: top;
}

.wiki-content table thead tr td {
    background-color: #F0F0F0;
    text-align: left;
    font-weight: bold;
    color: #003366;
}

.wiki-content tbody tr:nth-child(2n) td,
.wiki-content tbody tr.even td {
	background-color: transparent;
}

.wiki-content th.confluenceTh,
.wiki-content th.confluenceTh > p,
.wiki-content tbody tr td.confluenceTh,
.wiki-content tbody tr td.confluenceTh > p {
    font-weight: bold;
}

.wiki-content th.confluenceTh,
.wiki-content th.confluenceTh > p,
.wiki-content td.highlight,
.wiki-content td.highlight > p,
.wiki-content td.highlight-grey,
.wiki-content td.highlight-grey > p,
.wiki-content tbody tr td.confluenceTh,
.wiki-content tbody tr td.confluenceTh > p,
.wiki-content tbody tr td.highlight,
.wiki-content tbody tr td.highlight > p,
.wiki-content tbody tr td.highlight-grey,
.wiki-content tbody tr td.highlight-grey > p {
    background-color: #F0F0F0;
}

.wiki-content th.note,
.wiki-content th.note > p,
.wiki-content td.highlight.note,
.wiki-content td.highlight.note > p,
.wiki-content td.highlight-yellow,
.wiki-content td.highlight-yellow > p,
.wiki-content tbody tr td.highlight.note,
.wiki-content tbody tr td.highlight.note > p,
.wiki-content tbody tr td.highlight-yellow,
.wiki-content tbody tr td.highlight-yellow > p {
    background-color: #FFFFDD;
}

.wiki-content th.info,
.wiki-content th.info > p,
.wiki-content td.highlight.info,
.wiki-content td.highlight.info > p,
.wiki-content td.highlight-blue,
.wiki-content td.highlight-blue > p,
.wiki-content tbody tr td.highlight.info,
.wiki-content tbody tr td.highlight.info > p,
.wiki-content tbody tr td.highlight-blue,
.wiki-content tbody tr td.highlight-blue > p {
    background-color: #E0F0FF;
}

.wiki-content th.success,
.wiki-content th.success > p,
.wiki-content td.highlight.success,
.wiki-content td.highlight.success > p,
.wiki-content td.highlight-green,
.wiki-content td.highlight-green > p,
.wiki-content tbody tr td.highlight.success,
.wiki-content tbody tr td.highlight.success > p,
.wiki-content tbody tr td.highlight-green,
.wiki-content tbody tr td.highlight-green > p {
    background-color: #DDFADE;
}

.wiki-content th.warning,
.wiki-content th.warning > p,
.wiki-content td.highlight.warning,
.wiki-content td.highlight.warning > p,
.wiki-content td.highlight-red,
.wiki-content td.highlight-red > p,
.wiki-content tbody tr td.highlight.warning,
.wiki-content tbody tr td.highlight.warning > p,
.wiki-content tbody tr td.highlight-red,
.wiki-content tbody tr td.highlight-red > p {
    background-color: #FFE7E7;
}

.wiki-content th.highlight-\#091e42,
.wiki-content th.highlight-\#091e42 > p,
.wiki-content td.highlight-\#091e42,
.wiki-content td.highlight-\#091e42 > p,
.wiki-content tbody tr th.highlight-\#091e42,
.wiki-content tbody tr th.highlight-\#091e42 > p,
.wiki-content tbody tr td.highlight-\#091e42,
.wiki-content tbody tr td.highlight-\#091e42 > p {
    background-color: #091e42;
}

.wiki-content th.highlight-\#1d437b,
.wiki-content th.highlight-\#1d437b > p,
.wiki-content td.highlight-\#1d437b,
.wiki-content td.highlight-\#1d437b > p,
.wiki-content tbody tr th.highlight-\#1d437b,
.wiki-content tbody tr th.highlight-\#1d437b > p,
.wiki-content tbody tr td.highlight-\#1d437b,
.wiki-content tbody tr td.highlight-\#1d437b > p {
    background-color: #1d437b;
}

.wiki-content th.highlight-\#172b4d,
.wiki-content th.highlight-\#172b4d > p,
.wiki-content td.highlight-\#172b4d,
.wiki-content td.highlight-\#172b4d > p,
.wiki-content tbody tr th.highlight-\#172b4d,
.wiki-content tbody tr th.highlight-\#172b4d > p,
.wiki-content tbody tr td.highlight-\#172b4d,
.wiki-content tbody tr td.highlight-\#172b4d > p {
    background-color: #172b4d;
}

.wiki-content th.highlight-\#274c82,
.wiki-content th.highlight-\#274c82 > p,
.wiki-content td.highlight-\#274c82,
.wiki-content td.highlight-\#274c82 > p,
.wiki-content tbody tr th.highlight-\#274c82,
.wiki-content tbody tr th.highlight-\#274c82 > p,
.wiki-content tbody tr td.highlight-\#274c82,
.wiki-content tbody tr td.highlight-\#274c82 > p {
    background-color: #274c82;
}

.wiki-content th.highlight-\#253858,
.wiki-content th.highlight-\#253858 > p,
.wiki-content td.highlight-\#253858,
.wiki-content td.highlight-\#253858 > p,
.wiki-content tbody tr th.highlight-\#253858,
.wiki-content tbody tr th.highlight-\#253858 > p,
.wiki-content tbody tr td.highlight-\#253858,
.wiki-content tbody tr td.highlight-\#253858 > p {
    background-color: #253858;
}

.wiki-content th.highlight-\#31558a,
.wiki-content th.highlight-\#31558a > p,
.wiki-content td.highlight-\#31558a,
.wiki-content td.highlight-\#31558a > p,
.wiki-content tbody tr th.highlight-\#31558a,
.wiki-content tbody tr th.highlight-\#31558a > p,
.wiki-content tbody tr td.highlight-\#31558a,
.wiki-content tbody tr td.highlight-\#31558a > p {
    background-color: #31558a;
}

.wiki-content th.highlight-\#344563,
.wiki-content th.highlight-\#344563 > p,
.wiki-content td.highlight-\#344563,
.wiki-content td.highlight-\#344563 > p,
.wiki-content tbody tr th.highlight-\#344563,
.wiki-content tbody tr th.highlight-\#344563 > p,
.wiki-content tbody tr td.highlight-\#344563,
.wiki-content tbody tr td.highlight-\#344563 > p {
    background-color: #344563;
}

.wiki-content th.highlight-\#3b5f92,
.wiki-content th.highlight-\#3b5f92 > p,
.wiki-content td.highlight-\#3b5f92,
.wiki-content td.highlight-\#3b5f92 > p,
.wiki-content tbody tr th.highlight-\#3b5f92,
.wiki-content tbody tr th.highlight-\#3b5f92 > p,
.wiki-content tbody tr td.highlight-\#3b5f92,
.wiki-content tbody tr td.highlight-\#3b5f92 > p {
    background-color: #3b5f92;
}

.wiki-content th.highlight-\#42526e,
.wiki-content th.highlight-\#42526e > p,
.wiki-content td.highlight-\#42526e,
.wiki-content td.highlight-\#42526e > p,
.wiki-content tbody tr th.highlight-\#42526e,
.wiki-content tbody tr th.highlight-\#42526e > p,
.wiki-content tbody tr td.highlight-\#42526e,
.wiki-content tbody tr td.highlight-\#42526e > p {
    background-color: #42526e;
}

.wiki-content th.highlight-\#45689a,
.wiki-content th.highlight-\#45689a > p,
.wiki-content td.highlight-\#45689a,
.wiki-content td.highlight-\#45689a > p,
.wiki-content tbody tr th.highlight-\#45689a,
.wiki-content tbody tr th.highlight-\#45689a > p,
.wiki-content tbody tr td.highlight-\#45689a,
.wiki-content tbody tr td.highlight-\#45689a > p {
    background-color: #45689a;
}

.wiki-content th.highlight-\#505f79,
.wiki-content th.highlight-\#505f79 > p,
.wiki-content td.highlight-\#505f79,
.wiki-content td.highlight-\#505f79 > p,
.wiki-content tbody tr th.highlight-\#505f79,
.wiki-content tbody tr th.highlight-\#505f79 > p,
.wiki-content tbody tr td.highlight-\#505f79,
.wiki-content tbody tr td.highlight-\#505f79 > p {
    background-color: #505f79;
}

.wiki-content th.highlight-\#4f71a1,
.wiki-content th.highlight-\#4f71a1 > p,
.wiki-content td.highlight-\#4f71a1,
.wiki-content td.highlight-\#4f71a1 > p,
.wiki-content tbody tr th.highlight-\#4f71a1,
.wiki-content tbody tr th.highlight-\#4f71a1 > p,
.wiki-content tbody tr td.highlight-\#4f71a1,
.wiki-content tbody tr td.highlight-\#4f71a1 > p {
    background-color: #4f71a1;
}

.wiki-content th.highlight-\#5e6c84,
.wiki-content th.highlight-\#5e6c84 > p,
.wiki-content td.highlight-\#5e6c84,
.wiki-content td.highlight-\#5e6c84 > p,
.wiki-content tbody tr th.highlight-\#5e6c84,
.wiki-content tbody tr th.highlight-\#5e6c84 > p,
.wiki-content tbody tr td.highlight-\#5e6c84,
.wiki-content tbody tr td.highlight-\#5e6c84 > p {
    background-color: #5e6c84;
}

.wiki-content th.highlight-\#597aa9,
.wiki-content th.highlight-\#597aa9 > p,
.wiki-content td.highlight-\#597aa9,
.wiki-content td.highlight-\#597aa9 > p,
.wiki-content tbody tr th.highlight-\#597aa9,
.wiki-content tbody tr th.highlight-\#597aa9 > p,
.wiki-content tbody tr td.highlight-\#597aa9,
.wiki-content tbody tr td.highlight-\#597aa9 > p {
    background-color: #597aa9;
}

.wiki-content th.highlight-\#6b778c,
.wiki-content th.highlight-\#6b778c > p,
.wiki-content td.highlight-\#6b778c,
.wiki-content td.highlight-\#6b778c > p,
.wiki-content tbody tr th.highlight-\#6b778c,
.wiki-content tbody tr th.highlight-\#6b778c > p,
.wiki-content tbody tr td.highlight-\#6b778c,
.wiki-content tbody tr td.highlight-\#6b778c > p {
    background-color: #6b778c;
}

.wiki-content th.highlight-\#6282af,
.wiki-content th.highlight-\#6282af > p,
.wiki-content td.highlight-\#6282af,
.wiki-content td.highlight-\#6282af > p,
.wiki-content tbody tr th.highlight-\#6282af,
.wiki-content tbody tr th.highlight-\#6282af > p,
.wiki-content tbody tr td.highlight-\#6282af,
.wiki-content tbody tr td.highlight-\#6282af > p {
    background-color: #6282af;
}

.wiki-content th.highlight-\#7a869a,
.wiki-content th.highlight-\#7a869a > p,
.wiki-content td.highlight-\#7a869a,
.wiki-content td.highlight-\#7a869a > p,
.wiki-content tbody tr th.highlight-\#7a869a,
.wiki-content tbody tr th.highlight-\#7a869a > p,
.wiki-content tbody tr td.highlight-\#7a869a,
.wiki-content tbody tr td.highlight-\#7a869a > p {
    background-color: #7a869a;
}

.wiki-content th.highlight-\#6c8cb8,
.wiki-content th.highlight-\#6c8cb8 > p,
.wiki-content td.highlight-\#6c8cb8,
.wiki-content td.highlight-\#6c8cb8 > p,
.wiki-content tbody tr th.highlight-\#6c8cb8,
.wiki-content tbody tr th.highlight-\#6c8cb8 > p,
.wiki-content tbody tr td.highlight-\#6c8cb8,
.wiki-content tbody tr td.highlight-\#6c8cb8 > p {
    background-color: #6c8cb8;
}

.wiki-content th.highlight-\#8993a4,
.wiki-content th.highlight-\#8993a4 > p,
.wiki-content td.highlight-\#8993a4,
.wiki-content td.highlight-\#8993a4 > p,
.wiki-content tbody tr th.highlight-\#8993a4,
.wiki-content tbody tr th.highlight-\#8993a4 > p,
.wiki-content tbody tr td.highlight-\#8993a4,
.wiki-content tbody tr td.highlight-\#8993a4 > p {
    background-color: #8993a4;
}

.wiki-content th.highlight-\#7795bf,
.wiki-content th.highlight-\#7795bf > p,
.wiki-content td.highlight-\#7795bf,
.wiki-content td.highlight-\#7795bf > p,
.wiki-content tbody tr th.highlight-\#7795bf,
.wiki-content tbody tr th.highlight-\#7795bf > p,
.wiki-content tbody tr td.highlight-\#7795bf,
.wiki-content tbody tr td.highlight-\#7795bf > p {
    background-color: #7795bf;
}

.wiki-content th.highlight-\#97a0af,
.wiki-content th.highlight-\#97a0af > p,
.wiki-content td.highlight-\#97a0af,
.wiki-content td.highlight-\#97a0af > p,
.wiki-content tbody tr th.highlight-\#97a0af,
.wiki-content tbody tr th.highlight-\#97a0af > p,
.wiki-content tbody tr td.highlight-\#97a0af,
.wiki-content tbody tr td.highlight-\#97a0af > p {
    background-color: #97a0af;
}

.wiki-content th.highlight-\#819ec7,
.wiki-content th.highlight-\#819ec7 > p,
.wiki-content td.highlight-\#819ec7,
.wiki-content td.highlight-\#819ec7 > p,
.wiki-content tbody tr th.highlight-\#819ec7,
.wiki-content tbody tr th.highlight-\#819ec7 > p,
.wiki-content tbody tr td.highlight-\#819ec7,
.wiki-content tbody tr td.highlight-\#819ec7 > p {
    background-color: #819ec7;
}

.wiki-content th.highlight-\#a5adba,
.wiki-content th.highlight-\#a5adba > p,
.wiki-content td.highlight-\#a5adba,
.wiki-content td.highlight-\#a5adba > p,
.wiki-content tbody tr th.highlight-\#a5adba,
.wiki-content tbody tr th.highlight-\#a5adba > p,
.wiki-content tbody tr td.highlight-\#a5adba,
.wiki-content tbody tr td.highlight-\#a5adba > p {
    background-color: #a5adba;
}

.wiki-content th.highlight-\#8aa7cf,
.wiki-content th.highlight-\#8aa7cf > p,
.wiki-content td.highlight-\#8aa7cf,
.wiki-content td.highlight-\#8aa7cf > p,
.wiki-content tbody tr th.highlight-\#8aa7cf,
.wiki-content tbody tr th.highlight-\#8aa7cf > p,
.wiki-content tbody tr td.highlight-\#8aa7cf,
.wiki-content tbody tr td.highlight-\#8aa7cf > p {
    background-color: #8aa7cf;
}

.wiki-content th.highlight-\#b3bac5,
.wiki-content th.highlight-\#b3bac5 > p,
.wiki-content td.highlight-\#b3bac5,
.wiki-content td.highlight-\#b3bac5 > p,
.wiki-content tbody tr th.highlight-\#b3bac5,
.wiki-content tbody tr th.highlight-\#b3bac5 > p,
.wiki-content tbody tr td.highlight-\#b3bac5,
.wiki-content tbody tr td.highlight-\#b3bac5 > p {
    background-color: #b3bac5;
}

.wiki-content th.highlight-\#94b0d6,
.wiki-content th.highlight-\#94b0d6 > p,
.wiki-content td.highlight-\#94b0d6,
.wiki-content td.highlight-\#94b0d6 > p,
.wiki-content tbody tr th.highlight-\#94b0d6,
.wiki-content tbody tr th.highlight-\#94b0d6 > p,
.wiki-content tbody tr td.highlight-\#94b0d6,
.wiki-content tbody tr td.highlight-\#94b0d6 > p {
    background-color: #94b0d6;
}

.wiki-content th.highlight-\#c1c7d0,
.wiki-content th.highlight-\#c1c7d0 > p,
.wiki-content td.highlight-\#c1c7d0,
.wiki-content td.highlight-\#c1c7d0 > p,
.wiki-content tbody tr th.highlight-\#c1c7d0,
.wiki-content tbody tr th.highlight-\#c1c7d0 > p,
.wiki-content tbody tr td.highlight-\#c1c7d0,
.wiki-content tbody tr td.highlight-\#c1c7d0 > p {
    background-color: #c1c7d0;
}

.wiki-content th.highlight-\#9eb9de,
.wiki-content th.highlight-\#9eb9de > p,
.wiki-content td.highlight-\#9eb9de,
.wiki-content td.highlight-\#9eb9de > p,
.wiki-content tbody tr th.highlight-\#9eb9de,
.wiki-content tbody tr th.highlight-\#9eb9de > p,
.wiki-content tbody tr td.highlight-\#9eb9de,
.wiki-content tbody tr td.highlight-\#9eb9de > p {
    background-color: #9eb9de;
}

.wiki-content th.highlight-\#dfe1e6,
.wiki-content th.highlight-\#dfe1e6 > p,
.wiki-content td.highlight-\#dfe1e6,
.wiki-content td.highlight-\#dfe1e6 > p,
.wiki-content tbody tr th.highlight-\#dfe1e6,
.wiki-content tbody tr th.highlight-\#dfe1e6 > p,
.wiki-content tbody tr td.highlight-\#dfe1e6,
.wiki-content tbody tr td.highlight-\#dfe1e6 > p {
    background-color: #dfe1e6;
}

.wiki-content th.highlight-\#b3ccee,
.wiki-content th.highlight-\#b3ccee > p,
.wiki-content td.highlight-\#b3ccee,
.wiki-content td.highlight-\#b3ccee > p,
.wiki-content tbody tr th.highlight-\#b3ccee,
.wiki-content tbody tr th.highlight-\#b3ccee > p,
.wiki-content tbody tr td.highlight-\#b3ccee,
.wiki-content tbody tr td.highlight-\#b3ccee > p {
    background-color: #b3ccee;
}

.wiki-content th.highlight-\#ebecf0,
.wiki-content th.highlight-\#ebecf0 > p,
.wiki-content td.highlight-\#ebecf0,
.wiki-content td.highlight-\#ebecf0 > p,
.wiki-content tbody tr th.highlight-\#ebecf0,
.wiki-content tbody tr th.highlight-\#ebecf0 > p,
.wiki-content tbody tr td.highlight-\#ebecf0,
.wiki-content tbody tr td.highlight-\#ebecf0 > p {
    background-color: #ebecf0;
}

.wiki-content th.highlight-\#bbd3f5,
.wiki-content th.highlight-\#bbd3f5 > p,
.wiki-content td.highlight-\#bbd3f5,
.wiki-content td.highlight-\#bbd3f5 > p,
.wiki-content tbody tr th.highlight-\#bbd3f5,
.wiki-content tbody tr th.highlight-\#bbd3f5 > p,
.wiki-content tbody tr td.highlight-\#bbd3f5,
.wiki-content tbody tr td.highlight-\#bbd3f5 > p {
    background-color: #bbd3f5;
}

.wiki-content th.highlight-\#f4f5f7,
.wiki-content th.highlight-\#f4f5f7 > p,
.wiki-content td.highlight-\#f4f5f7,
.wiki-content td.highlight-\#f4f5f7 > p,
.wiki-content tbody tr th.highlight-\#f4f5f7,
.wiki-content tbody tr th.highlight-\#f4f5f7 > p,
.wiki-content tbody tr td.highlight-\#f4f5f7,
.wiki-content tbody tr td.highlight-\#f4f5f7 > p {
    background-color: #f4f5f7;
}

.wiki-content th.highlight-\#c2daf9,
.wiki-content th.highlight-\#c2daf9 > p,
.wiki-content td.highlight-\#c2daf9,
.wiki-content td.highlight-\#c2daf9 > p,
.wiki-content tbody tr th.highlight-\#c2daf9,
.wiki-content tbody tr th.highlight-\#c2daf9 > p,
.wiki-content tbody tr td.highlight-\#c2daf9,
.wiki-content tbody tr td.highlight-\#c2daf9 > p {
    background-color: #c2daf9;
}

.wiki-content th.highlight-\#fafbfc,
.wiki-content th.highlight-\#fafbfc > p,
.wiki-content td.highlight-\#fafbfc,
.wiki-content td.highlight-\#fafbfc > p,
.wiki-content tbody tr th.highlight-\#fafbfc,
.wiki-content tbody tr th.highlight-\#fafbfc > p,
.wiki-content tbody tr td.highlight-\#fafbfc,
.wiki-content tbody tr td.highlight-\#fafbfc > p {
    background-color: #fafbfc;
}

.wiki-content th.highlight-\#c6defd,
.wiki-content th.highlight-\#c6defd > p,
.wiki-content td.highlight-\#c6defd,
.wiki-content td.highlight-\#c6defd > p,
.wiki-content tbody tr th.highlight-\#c6defd,
.wiki-content tbody tr th.highlight-\#c6defd > p,
.wiki-content tbody tr td.highlight-\#c6defd,
.wiki-content tbody tr td.highlight-\#c6defd > p {
    background-color: #c6defd;
}

.wiki-content th.highlight-\#ffffff,
.wiki-content th.highlight-\#ffffff > p,
.wiki-content td.highlight-\#ffffff,
.wiki-content td.highlight-\#ffffff > p,
.wiki-content tbody tr th.highlight-\#ffffff,
.wiki-content tbody tr th.highlight-\#ffffff > p,
.wiki-content tbody tr td.highlight-\#ffffff,
.wiki-content tbody tr td.highlight-\#ffffff > p {
    background-color: #ffffff;
}

.wiki-content th.highlight-\#c9e1ff,
.wiki-content th.highlight-\#c9e1ff > p,
.wiki-content td.highlight-\#c9e1ff,
.wiki-content td.highlight-\#c9e1ff > p,
.wiki-content tbody tr th.highlight-\#c9e1ff,
.wiki-content tbody tr th.highlight-\#c9e1ff > p,
.wiki-content tbody tr td.highlight-\#c9e1ff,
.wiki-content tbody tr td.highlight-\#c9e1ff > p {
    background-color: #c9e1ff;
}

.wiki-content th.highlight-\#bf2600,
.wiki-content th.highlight-\#bf2600 > p,
.wiki-content td.highlight-\#bf2600,
.wiki-content td.highlight-\#bf2600 > p,
.wiki-content tbody tr th.highlight-\#bf2600,
.wiki-content tbody tr th.highlight-\#bf2600 > p,
.wiki-content tbody tr td.highlight-\#bf2600,
.wiki-content tbody tr td.highlight-\#bf2600 > p {
    background-color: #bf2600;
}

.wiki-content th.highlight-\#9d494d,
.wiki-content th.highlight-\#9d494d > p,
.wiki-content td.highlight-\#9d494d,
.wiki-content td.highlight-\#9d494d > p,
.wiki-content tbody tr th.highlight-\#9d494d,
.wiki-content tbody tr th.highlight-\#9d494d > p,
.wiki-content tbody tr td.highlight-\#9d494d,
.wiki-content tbody tr td.highlight-\#9d494d > p {
    background-color: #9d494d;
}

.wiki-content th.highlight-\#de350b,
.wiki-content th.highlight-\#de350b > p,
.wiki-content td.highlight-\#de350b,
.wiki-content td.highlight-\#de350b > p,
.wiki-content tbody tr th.highlight-\#de350b,
.wiki-content tbody tr th.highlight-\#de350b > p,
.wiki-content tbody tr td.highlight-\#de350b,
.wiki-content tbody tr td.highlight-\#de350b > p {
    background-color: #de350b;
}

.wiki-content th.highlight-\#b25354,
.wiki-content th.highlight-\#b25354 > p,
.wiki-content td.highlight-\#b25354,
.wiki-content td.highlight-\#b25354 > p,
.wiki-content tbody tr th.highlight-\#b25354,
.wiki-content tbody tr th.highlight-\#b25354 > p,
.wiki-content tbody tr td.highlight-\#b25354,
.wiki-content tbody tr td.highlight-\#b25354 > p {
    background-color: #b25354;
}

.wiki-content th.highlight-\#ff5630,
.wiki-content th.highlight-\#ff5630 > p,
.wiki-content td.highlight-\#ff5630,
.wiki-content td.highlight-\#ff5630 > p,
.wiki-content tbody tr th.highlight-\#ff5630,
.wiki-content tbody tr th.highlight-\#ff5630 > p,
.wiki-content tbody tr td.highlight-\#ff5630,
.wiki-content tbody tr td.highlight-\#ff5630 > p {
    background-color: #ff5630;
}

.wiki-content th.highlight-\#c96a6e,
.wiki-content th.highlight-\#c96a6e > p,
.wiki-content td.highlight-\#c96a6e,
.wiki-content td.highlight-\#c96a6e > p,
.wiki-content tbody tr th.highlight-\#c96a6e,
.wiki-content tbody tr th.highlight-\#c96a6e > p,
.wiki-content tbody tr td.highlight-\#c96a6e,
.wiki-content tbody tr td.highlight-\#c96a6e > p {
    background-color: #c96a6e;
}

.wiki-content th.highlight-\#ff7452,
.wiki-content th.highlight-\#ff7452 > p,
.wiki-content td.highlight-\#ff7452,
.wiki-content td.highlight-\#ff7452 > p,
.wiki-content tbody tr th.highlight-\#ff7452,
.wiki-content tbody tr th.highlight-\#ff7452 > p,
.wiki-content tbody tr td.highlight-\#ff7452,
.wiki-content tbody tr td.highlight-\#ff7452 > p {
    background-color: #ff7452;
}

.wiki-content th.highlight-\#c97f86,
.wiki-content th.highlight-\#c97f86 > p,
.wiki-content td.highlight-\#c97f86,
.wiki-content td.highlight-\#c97f86 > p,
.wiki-content tbody tr th.highlight-\#c97f86,
.wiki-content tbody tr th.highlight-\#c97f86 > p,
.wiki-content tbody tr td.highlight-\#c97f86,
.wiki-content tbody tr td.highlight-\#c97f86 > p {
    background-color: #c97f86;
}

.wiki-content th.highlight-\#ff8f73,
.wiki-content th.highlight-\#ff8f73 > p,
.wiki-content td.highlight-\#ff8f73,
.wiki-content td.highlight-\#ff8f73 > p,
.wiki-content tbody tr th.highlight-\#ff8f73,
.wiki-content tbody tr th.highlight-\#ff8f73 > p,
.wiki-content tbody tr td.highlight-\#ff8f73,
.wiki-content tbody tr td.highlight-\#ff8f73 > p {
    background-color: #ff8f73;
}

.wiki-content th.highlight-\#c9929d,
.wiki-content th.highlight-\#c9929d > p,
.wiki-content td.highlight-\#c9929d,
.wiki-content td.highlight-\#c9929d > p,
.wiki-content tbody tr th.highlight-\#c9929d,
.wiki-content tbody tr th.highlight-\#c9929d > p,
.wiki-content tbody tr td.highlight-\#c9929d,
.wiki-content tbody tr td.highlight-\#c9929d > p {
    background-color: #c9929d;
}

.wiki-content th.highlight-\#ffbdad,
.wiki-content th.highlight-\#ffbdad > p,
.wiki-content td.highlight-\#ffbdad,
.wiki-content td.highlight-\#ffbdad > p,
.wiki-content tbody tr th.highlight-\#ffbdad,
.wiki-content tbody tr th.highlight-\#ffbdad > p,
.wiki-content tbody tr td.highlight-\#ffbdad,
.wiki-content tbody tr td.highlight-\#ffbdad > p {
    background-color: #ffbdad;
}

.wiki-content th.highlight-\#c9b2c6,
.wiki-content th.highlight-\#c9b2c6 > p,
.wiki-content td.highlight-\#c9b2c6,
.wiki-content td.highlight-\#c9b2c6 > p,
.wiki-content tbody tr th.highlight-\#c9b2c6,
.wiki-content tbody tr th.highlight-\#c9b2c6 > p,
.wiki-content tbody tr td.highlight-\#c9b2c6,
.wiki-content tbody tr td.highlight-\#c9b2c6 > p {
    background-color: #c9b2c6;
}

.wiki-content th.highlight-\#ffebe6,
.wiki-content th.highlight-\#ffebe6 > p,
.wiki-content td.highlight-\#ffebe6,
.wiki-content td.highlight-\#ffebe6 > p,
.wiki-content tbody tr th.highlight-\#ffebe6,
.wiki-content tbody tr th.highlight-\#ffebe6 > p,
.wiki-content tbody tr td.highlight-\#ffebe6,
.wiki-content tbody tr td.highlight-\#ffebe6 > p {
    background-color: #ffebe6;
}

.wiki-content th.highlight-\#c9d3ee,
.wiki-content th.highlight-\#c9d3ee > p,
.wiki-content td.highlight-\#c9d3ee,
.wiki-content td.highlight-\#c9d3ee > p,
.wiki-content tbody tr th.highlight-\#c9d3ee,
.wiki-content tbody tr th.highlight-\#c9d3ee > p,
.wiki-content tbody tr td.highlight-\#c9d3ee,
.wiki-content tbody tr td.highlight-\#c9d3ee > p {
    background-color: #c9d3ee;
}

.wiki-content th.highlight-\#ff8b00,
.wiki-content th.highlight-\#ff8b00 > p,
.wiki-content td.highlight-\#ff8b00,
.wiki-content td.highlight-\#ff8b00 > p,
.wiki-content tbody tr th.highlight-\#ff8b00,
.wiki-content tbody tr th.highlight-\#ff8b00 > p,
.wiki-content tbody tr td.highlight-\#ff8b00,
.wiki-content tbody tr td.highlight-\#ff8b00 > p {
    background-color: #ff8b00;
}

.wiki-content th.highlight-\#c9904d,
.wiki-content th.highlight-\#c9904d > p,
.wiki-content td.highlight-\#c9904d,
.wiki-content td.highlight-\#c9904d > p,
.wiki-content tbody tr th.highlight-\#c9904d,
.wiki-content tbody tr th.highlight-\#c9904d > p,
.wiki-content tbody tr td.highlight-\#c9904d,
.wiki-content tbody tr td.highlight-\#c9904d > p {
    background-color: #c9904d;
}

.wiki-content th.highlight-\#ff991f,
.wiki-content th.highlight-\#ff991f > p,
.wiki-content td.highlight-\#ff991f,
.wiki-content td.highlight-\#ff991f > p,
.wiki-content tbody tr th.highlight-\#ff991f,
.wiki-content tbody tr th.highlight-\#ff991f > p,
.wiki-content tbody tr td.highlight-\#ff991f,
.wiki-content tbody tr td.highlight-\#ff991f > p {
    background-color: #ff991f;
}

.wiki-content th.highlight-\#c99962,
.wiki-content th.highlight-\#c99962 > p,
.wiki-content td.highlight-\#c99962,
.wiki-content td.highlight-\#c99962 > p,
.wiki-content tbody tr th.highlight-\#c99962,
.wiki-content tbody tr th.highlight-\#c99962 > p,
.wiki-content tbody tr td.highlight-\#c99962,
.wiki-content tbody tr td.highlight-\#c99962 > p {
    background-color: #c99962;
}

.wiki-content th.highlight-\#ffab00,
.wiki-content th.highlight-\#ffab00 > p,
.wiki-content td.highlight-\#ffab00,
.wiki-content td.highlight-\#ffab00 > p,
.wiki-content tbody tr th.highlight-\#ffab00,
.wiki-content tbody tr th.highlight-\#ffab00 > p,
.wiki-content tbody tr td.highlight-\#ffab00,
.wiki-content tbody tr td.highlight-\#ffab00 > p {
    background-color: #ffab00;
}

.wiki-content th.highlight-\#c9a64d,
.wiki-content th.highlight-\#c9a64d > p,
.wiki-content td.highlight-\#c9a64d,
.wiki-content td.highlight-\#c9a64d > p,
.wiki-content tbody tr th.highlight-\#c9a64d,
.wiki-content tbody tr th.highlight-\#c9a64d > p,
.wiki-content tbody tr td.highlight-\#c9a64d,
.wiki-content tbody tr td.highlight-\#c9a64d > p {
    background-color: #c9a64d;
}

.wiki-content th.highlight-\#ffc400,
.wiki-content th.highlight-\#ffc400 > p,
.wiki-content td.highlight-\#ffc400,
.wiki-content td.highlight-\#ffc400 > p,
.wiki-content tbody tr th.highlight-\#ffc400,
.wiki-content tbody tr th.highlight-\#ffc400 > p,
.wiki-content tbody tr td.highlight-\#ffc400,
.wiki-content tbody tr td.highlight-\#ffc400 > p {
    background-color: #ffc400;
}

.wiki-content th.highlight-\#c9b74d,
.wiki-content th.highlight-\#c9b74d > p,
.wiki-content td.highlight-\#c9b74d,
.wiki-content td.highlight-\#c9b74d > p,
.wiki-content tbody tr th.highlight-\#c9b74d,
.wiki-content tbody tr th.highlight-\#c9b74d > p,
.wiki-content tbody tr td.highlight-\#c9b74d,
.wiki-content tbody tr td.highlight-\#c9b74d > p {
    background-color: #c9b74d;
}

.wiki-content th.highlight-\#ffe380,
.wiki-content th.highlight-\#ffe380 > p,
.wiki-content td.highlight-\#ffe380,
.wiki-content td.highlight-\#ffe380 > p,
.wiki-content tbody tr th.highlight-\#ffe380,
.wiki-content tbody tr th.highlight-\#ffe380 > p,
.wiki-content tbody tr td.highlight-\#ffe380,
.wiki-content tbody tr td.highlight-\#ffe380 > p {
    background-color: #ffe380;
}

.wiki-content th.highlight-\#c9cda6,
.wiki-content th.highlight-\#c9cda6 > p,
.wiki-content td.highlight-\#c9cda6,
.wiki-content td.highlight-\#c9cda6 > p,
.wiki-content tbody tr th.highlight-\#c9cda6,
.wiki-content tbody tr th.highlight-\#c9cda6 > p,
.wiki-content tbody tr td.highlight-\#c9cda6,
.wiki-content tbody tr td.highlight-\#c9cda6 > p {
    background-color: #c9cda6;
}

.wiki-content th.highlight-\#fff0b3,
.wiki-content th.highlight-\#fff0b3 > p,
.wiki-content td.highlight-\#fff0b3,
.wiki-content td.highlight-\#fff0b3 > p,
.wiki-content tbody tr th.highlight-\#fff0b3,
.wiki-content tbody tr th.highlight-\#fff0b3 > p,
.wiki-content tbody tr td.highlight-\#fff0b3,
.wiki-content tbody tr td.highlight-\#fff0b3 > p {
    background-color: #fff0b3;
}

.wiki-content th.highlight-\#c9d6ca,
.wiki-content th.highlight-\#c9d6ca > p,
.wiki-content td.highlight-\#c9d6ca,
.wiki-content td.highlight-\#c9d6ca > p,
.wiki-content tbody tr th.highlight-\#c9d6ca,
.wiki-content tbody tr th.highlight-\#c9d6ca > p,
.wiki-content tbody tr td.highlight-\#c9d6ca,
.wiki-content tbody tr td.highlight-\#c9d6ca > p {
    background-color: #c9d6ca;
}

.wiki-content th.highlight-\#fffae6,
.wiki-content th.highlight-\#fffae6 > p,
.wiki-content td.highlight-\#fffae6,
.wiki-content td.highlight-\#fffae6 > p,
.wiki-content tbody tr th.highlight-\#fffae6,
.wiki-content tbody tr th.highlight-\#fffae6 > p,
.wiki-content tbody tr td.highlight-\#fffae6,
.wiki-content tbody tr td.highlight-\#fffae6 > p {
    background-color: #fffae6;
}

.wiki-content th.highlight-\#c9ddee,
.wiki-content th.highlight-\#c9ddee > p,
.wiki-content td.highlight-\#c9ddee,
.wiki-content td.highlight-\#c9ddee > p,
.wiki-content tbody tr th.highlight-\#c9ddee,
.wiki-content tbody tr th.highlight-\#c9ddee > p,
.wiki-content tbody tr td.highlight-\#c9ddee,
.wiki-content tbody tr td.highlight-\#c9ddee > p {
    background-color: #c9ddee;
}

.wiki-content th.highlight-\#006644,
.wiki-content th.highlight-\#006644 > p,
.wiki-content td.highlight-\#006644,
.wiki-content td.highlight-\#006644 > p,
.wiki-content tbody tr th.highlight-\#006644,
.wiki-content tbody tr th.highlight-\#006644 > p,
.wiki-content tbody tr td.highlight-\#006644,
.wiki-content tbody tr td.highlight-\#006644 > p {
    background-color: #006644;
}

.wiki-content th.highlight-\#17767c,
.wiki-content th.highlight-\#17767c > p,
.wiki-content td.highlight-\#17767c,
.wiki-content td.highlight-\#17767c > p,
.wiki-content tbody tr th.highlight-\#17767c,
.wiki-content tbody tr th.highlight-\#17767c > p,
.wiki-content tbody tr td.highlight-\#17767c,
.wiki-content tbody tr td.highlight-\#17767c > p {
    background-color: #17767c;
}

.wiki-content th.highlight-\#00875a,
.wiki-content th.highlight-\#00875a > p,
.wiki-content td.highlight-\#00875a,
.wiki-content td.highlight-\#00875a > p,
.wiki-content tbody tr th.highlight-\#00875a,
.wiki-content tbody tr th.highlight-\#00875a > p,
.wiki-content tbody tr td.highlight-\#00875a,
.wiki-content tbody tr td.highlight-\#00875a > p {
    background-color: #00875a;
}

.wiki-content th.highlight-\#178d8c,
.wiki-content th.highlight-\#178d8c > p,
.wiki-content td.highlight-\#178d8c,
.wiki-content td.highlight-\#178d8c > p,
.wiki-content tbody tr th.highlight-\#178d8c,
.wiki-content tbody tr th.highlight-\#178d8c > p,
.wiki-content tbody tr td.highlight-\#178d8c,
.wiki-content tbody tr td.highlight-\#178d8c > p {
    background-color: #178d8c;
}

.wiki-content th.highlight-\#36b37e,
.wiki-content th.highlight-\#36b37e > p,
.wiki-content td.highlight-\#36b37e,
.wiki-content td.highlight-\#36b37e > p,
.wiki-content tbody tr th.highlight-\#36b37e,
.wiki-content tbody tr th.highlight-\#36b37e > p,
.wiki-content tbody tr td.highlight-\#36b37e,
.wiki-content tbody tr td.highlight-\#36b37e > p {
    background-color: #36b37e;
}

.wiki-content th.highlight-\#3daca5,
.wiki-content th.highlight-\#3daca5 > p,
.wiki-content td.highlight-\#3daca5,
.wiki-content td.highlight-\#3daca5 > p,
.wiki-content tbody tr th.highlight-\#3daca5,
.wiki-content tbody tr th.highlight-\#3daca5 > p,
.wiki-content tbody tr td.highlight-\#3daca5,
.wiki-content tbody tr td.highlight-\#3daca5 > p {
    background-color: #3daca5;
}

.wiki-content th.highlight-\#57d9a3,
.wiki-content th.highlight-\#57d9a3 > p,
.wiki-content td.highlight-\#57d9a3,
.wiki-content td.highlight-\#57d9a3 > p,
.wiki-content tbody tr th.highlight-\#57d9a3,
.wiki-content tbody tr th.highlight-\#57d9a3 > p,
.wiki-content tbody tr td.highlight-\#57d9a3,
.wiki-content tbody tr td.highlight-\#57d9a3 > p {
    background-color: #57d9a3;
}

.wiki-content th.highlight-\#54c6bf,
.wiki-content th.highlight-\#54c6bf > p,
.wiki-content td.highlight-\#54c6bf,
.wiki-content td.highlight-\#54c6bf > p,
.wiki-content tbody tr th.highlight-\#54c6bf,
.wiki-content tbody tr th.highlight-\#54c6bf > p,
.wiki-content tbody tr td.highlight-\#54c6bf,
.wiki-content tbody tr td.highlight-\#54c6bf > p {
    background-color: #54c6bf;
}

.wiki-content th.highlight-\#79f2c0,
.wiki-content th.highlight-\#79f2c0 > p,
.wiki-content td.highlight-\#79f2c0,
.wiki-content td.highlight-\#79f2c0 > p,
.wiki-content tbody tr th.highlight-\#79f2c0,
.wiki-content tbody tr th.highlight-\#79f2c0 > p,
.wiki-content tbody tr td.highlight-\#79f2c0,
.wiki-content tbody tr td.highlight-\#79f2c0 > p {
    background-color: #79f2c0;
}

.wiki-content th.highlight-\#6bd8d3,
.wiki-content th.highlight-\#6bd8d3 > p,
.wiki-content td.highlight-\#6bd8d3,
.wiki-content td.highlight-\#6bd8d3 > p,
.wiki-content tbody tr th.highlight-\#6bd8d3,
.wiki-content tbody tr th.highlight-\#6bd8d3 > p,
.wiki-content tbody tr td.highlight-\#6bd8d3,
.wiki-content tbody tr td.highlight-\#6bd8d3 > p {
    background-color: #6bd8d3;
}

.wiki-content th.highlight-\#abf5d1,
.wiki-content th.highlight-\#abf5d1 > p,
.wiki-content td.highlight-\#abf5d1,
.wiki-content td.highlight-\#abf5d1 > p,
.wiki-content tbody tr th.highlight-\#abf5d1,
.wiki-content tbody tr th.highlight-\#abf5d1 > p,
.wiki-content tbody tr td.highlight-\#abf5d1,
.wiki-content tbody tr td.highlight-\#abf5d1 > p {
    background-color: #abf5d1;
}

.wiki-content th.highlight-\#8fdadf,
.wiki-content th.highlight-\#8fdadf > p,
.wiki-content td.highlight-\#8fdadf,
.wiki-content td.highlight-\#8fdadf > p,
.wiki-content tbody tr th.highlight-\#8fdadf,
.wiki-content tbody tr th.highlight-\#8fdadf > p,
.wiki-content tbody tr td.highlight-\#8fdadf,
.wiki-content tbody tr td.highlight-\#8fdadf > p {
    background-color: #8fdadf;
}

.wiki-content th.highlight-\#e3fcef,
.wiki-content th.highlight-\#e3fcef > p,
.wiki-content td.highlight-\#e3fcef,
.wiki-content td.highlight-\#e3fcef > p,
.wiki-content tbody tr th.highlight-\#e3fcef,
.wiki-content tbody tr th.highlight-\#e3fcef > p,
.wiki-content tbody tr td.highlight-\#e3fcef,
.wiki-content tbody tr td.highlight-\#e3fcef > p {
    background-color: #e3fcef;
}

.wiki-content th.highlight-\#b6dff4,
.wiki-content th.highlight-\#b6dff4 > p,
.wiki-content td.highlight-\#b6dff4,
.wiki-content td.highlight-\#b6dff4 > p,
.wiki-content tbody tr th.highlight-\#b6dff4,
.wiki-content tbody tr th.highlight-\#b6dff4 > p,
.wiki-content tbody tr td.highlight-\#b6dff4,
.wiki-content tbody tr td.highlight-\#b6dff4 > p {
    background-color: #b6dff4;
}

.wiki-content th.highlight-\#008da6,
.wiki-content th.highlight-\#008da6 > p,
.wiki-content td.highlight-\#008da6,
.wiki-content td.highlight-\#008da6 > p,
.wiki-content tbody tr th.highlight-\#008da6,
.wiki-content tbody tr th.highlight-\#008da6 > p,
.wiki-content tbody tr td.highlight-\#008da6,
.wiki-content tbody tr td.highlight-\#008da6 > p {
    background-color: #008da6;
}

.wiki-content th.highlight-\#1791c1,
.wiki-content th.highlight-\#1791c1 > p,
.wiki-content td.highlight-\#1791c1,
.wiki-content td.highlight-\#1791c1 > p,
.wiki-content tbody tr th.highlight-\#1791c1,
.wiki-content tbody tr th.highlight-\#1791c1 > p,
.wiki-content tbody tr td.highlight-\#1791c1,
.wiki-content tbody tr td.highlight-\#1791c1 > p {
    background-color: #1791c1;
}

.wiki-content th.highlight-\#00a3bf,
.wiki-content th.highlight-\#00a3bf > p,
.wiki-content td.highlight-\#00a3bf,
.wiki-content td.highlight-\#00a3bf > p,
.wiki-content tbody tr th.highlight-\#00a3bf,
.wiki-content tbody tr th.highlight-\#00a3bf > p,
.wiki-content tbody tr td.highlight-\#00a3bf,
.wiki-content tbody tr td.highlight-\#00a3bf > p {
    background-color: #00a3bf;
}

.wiki-content th.highlight-\#17a0d2,
.wiki-content th.highlight-\#17a0d2 > p,
.wiki-content td.highlight-\#17a0d2,
.wiki-content td.highlight-\#17a0d2 > p,
.wiki-content tbody tr th.highlight-\#17a0d2,
.wiki-content tbody tr th.highlight-\#17a0d2 > p,
.wiki-content tbody tr td.highlight-\#17a0d2,
.wiki-content tbody tr td.highlight-\#17a0d2 > p {
    background-color: #17a0d2;
}

.wiki-content th.highlight-\#00b8d9,
.wiki-content th.highlight-\#00b8d9 > p,
.wiki-content td.highlight-\#00b8d9,
.wiki-content td.highlight-\#00b8d9 > p,
.wiki-content tbody tr th.highlight-\#00b8d9,
.wiki-content tbody tr th.highlight-\#00b8d9 > p,
.wiki-content tbody tr td.highlight-\#00b8d9,
.wiki-content tbody tr td.highlight-\#00b8d9 > p {
    background-color: #00b8d9;
}

.wiki-content th.highlight-\#17afe4,
.wiki-content th.highlight-\#17afe4 > p,
.wiki-content td.highlight-\#17afe4,
.wiki-content td.highlight-\#17afe4 > p,
.wiki-content tbody tr th.highlight-\#17afe4,
.wiki-content tbody tr th.highlight-\#17afe4 > p,
.wiki-content tbody tr td.highlight-\#17afe4,
.wiki-content tbody tr td.highlight-\#17afe4 > p {
    background-color: #17afe4;
}

.wiki-content th.highlight-\#00c7e6,
.wiki-content th.highlight-\#00c7e6 > p,
.wiki-content td.highlight-\#00c7e6,
.wiki-content td.highlight-\#00c7e6 > p,
.wiki-content tbody tr th.highlight-\#00c7e6,
.wiki-content tbody tr th.highlight-\#00c7e6 > p,
.wiki-content tbody tr td.highlight-\#00c7e6,
.wiki-content tbody tr td.highlight-\#00c7e6 > p {
    background-color: #00c7e6;
}

.wiki-content th.highlight-\#17b9ee,
.wiki-content th.highlight-\#17b9ee > p,
.wiki-content td.highlight-\#17b9ee,
.wiki-content td.highlight-\#17b9ee > p,
.wiki-content tbody tr th.highlight-\#17b9ee,
.wiki-content tbody tr th.highlight-\#17b9ee > p,
.wiki-content tbody tr td.highlight-\#17b9ee,
.wiki-content tbody tr td.highlight-\#17b9ee > p {
    background-color: #17b9ee;
}

.wiki-content th.highlight-\#79e2f2,
.wiki-content th.highlight-\#79e2f2 > p,
.wiki-content td.highlight-\#79e2f2,
.wiki-content td.highlight-\#79e2f2 > p,
.wiki-content tbody tr th.highlight-\#79e2f2,
.wiki-content tbody tr th.highlight-\#79e2f2 > p,
.wiki-content tbody tr td.highlight-\#79e2f2,
.wiki-content tbody tr td.highlight-\#79e2f2 > p {
    background-color: #79e2f2;
}

.wiki-content th.highlight-\#6bccf6,
.wiki-content th.highlight-\#6bccf6 > p,
.wiki-content td.highlight-\#6bccf6,
.wiki-content td.highlight-\#6bccf6 > p,
.wiki-content tbody tr th.highlight-\#6bccf6,
.wiki-content tbody tr th.highlight-\#6bccf6 > p,
.wiki-content tbody tr td.highlight-\#6bccf6,
.wiki-content tbody tr td.highlight-\#6bccf6 > p {
    background-color: #6bccf6;
}

.wiki-content th.highlight-\#b3f5ff,
.wiki-content th.highlight-\#b3f5ff > p,
.wiki-content td.highlight-\#b3f5ff,
.wiki-content td.highlight-\#b3f5ff > p,
.wiki-content tbody tr th.highlight-\#b3f5ff,
.wiki-content tbody tr th.highlight-\#b3f5ff > p,
.wiki-content tbody tr td.highlight-\#b3f5ff,
.wiki-content tbody tr td.highlight-\#b3f5ff > p {
    background-color: #b3f5ff;
}

.wiki-content th.highlight-\#94daff,
.wiki-content th.highlight-\#94daff > p,
.wiki-content td.highlight-\#94daff,
.wiki-content td.highlight-\#94daff > p,
.wiki-content tbody tr th.highlight-\#94daff,
.wiki-content tbody tr th.highlight-\#94daff > p,
.wiki-content tbody tr td.highlight-\#94daff,
.wiki-content tbody tr td.highlight-\#94daff > p {
    background-color: #94daff;
}

.wiki-content th.highlight-\#e6fcff,
.wiki-content th.highlight-\#e6fcff > p,
.wiki-content td.highlight-\#e6fcff,
.wiki-content td.highlight-\#e6fcff > p,
.wiki-content tbody tr th.highlight-\#e6fcff,
.wiki-content tbody tr th.highlight-\#e6fcff > p,
.wiki-content tbody tr td.highlight-\#e6fcff,
.wiki-content tbody tr td.highlight-\#e6fcff > p {
    background-color: #e6fcff;
}

.wiki-content th.highlight-\#b8dfff,
.wiki-content th.highlight-\#b8dfff > p,
.wiki-content td.highlight-\#b8dfff,
.wiki-content td.highlight-\#b8dfff > p,
.wiki-content tbody tr th.highlight-\#b8dfff,
.wiki-content tbody tr th.highlight-\#b8dfff > p,
.wiki-content tbody tr td.highlight-\#b8dfff,
.wiki-content tbody tr td.highlight-\#b8dfff > p {
    background-color: #b8dfff;
}

.wiki-content th.highlight-\#0747a6,
.wiki-content th.highlight-\#0747a6 > p,
.wiki-content td.highlight-\#0747a6,
.wiki-content td.highlight-\#0747a6 > p,
.wiki-content tbody tr th.highlight-\#0747a6,
.wiki-content tbody tr th.highlight-\#0747a6 > p,
.wiki-content tbody tr td.highlight-\#0747a6,
.wiki-content tbody tr td.highlight-\#0747a6 > p {
    background-color: #0747a6;
}

.wiki-content th.highlight-\#1c60c1,
.wiki-content th.highlight-\#1c60c1 > p,
.wiki-content td.highlight-\#1c60c1,
.wiki-content td.highlight-\#1c60c1 > p,
.wiki-content tbody tr th.highlight-\#1c60c1,
.wiki-content tbody tr th.highlight-\#1c60c1 > p,
.wiki-content tbody tr td.highlight-\#1c60c1,
.wiki-content tbody tr td.highlight-\#1c60c1 > p {
    background-color: #1c60c1;
}

.wiki-content th.highlight-\#0052cc,
.wiki-content th.highlight-\#0052cc > p,
.wiki-content td.highlight-\#0052cc,
.wiki-content td.highlight-\#0052cc > p,
.wiki-content tbody tr th.highlight-\#0052cc,
.wiki-content tbody tr th.highlight-\#0052cc > p,
.wiki-content tbody tr td.highlight-\#0052cc,
.wiki-content tbody tr td.highlight-\#0052cc > p {
    background-color: #0052cc;
}

.wiki-content th.highlight-\#1768db,
.wiki-content th.highlight-\#1768db > p,
.wiki-content td.highlight-\#1768db,
.wiki-content td.highlight-\#1768db > p,
.wiki-content tbody tr th.highlight-\#1768db,
.wiki-content tbody tr th.highlight-\#1768db > p,
.wiki-content tbody tr td.highlight-\#1768db,
.wiki-content tbody tr td.highlight-\#1768db > p {
    background-color: #1768db;
}

.wiki-content th.highlight-\#0065ff,
.wiki-content th.highlight-\#0065ff > p,
.wiki-content td.highlight-\#0065ff,
.wiki-content td.highlight-\#0065ff > p,
.wiki-content tbody tr th.highlight-\#0065ff,
.wiki-content tbody tr th.highlight-\#0065ff > p,
.wiki-content tbody tr td.highlight-\#0065ff,
.wiki-content tbody tr td.highlight-\#0065ff > p {
    background-color: #0065ff;
}

.wiki-content th.highlight-\#1775ff,
.wiki-content th.highlight-\#1775ff > p,
.wiki-content td.highlight-\#1775ff,
.wiki-content td.highlight-\#1775ff > p,
.wiki-content tbody tr th.highlight-\#1775ff,
.wiki-content tbody tr th.highlight-\#1775ff > p,
.wiki-content tbody tr td.highlight-\#1775ff,
.wiki-content tbody tr td.highlight-\#1775ff > p {
    background-color: #1775ff;
}

.wiki-content th.highlight-\#2684ff,
.wiki-content th.highlight-\#2684ff > p,
.wiki-content td.highlight-\#2684ff,
.wiki-content td.highlight-\#2684ff > p,
.wiki-content tbody tr th.highlight-\#2684ff,
.wiki-content tbody tr th.highlight-\#2684ff > p,
.wiki-content tbody tr td.highlight-\#2684ff,
.wiki-content tbody tr td.highlight-\#2684ff > p {
    background-color: #2684ff;
}

.wiki-content th.highlight-\#318bff,
.wiki-content th.highlight-\#318bff > p,
.wiki-content td.highlight-\#318bff,
.wiki-content td.highlight-\#318bff > p,
.wiki-content tbody tr th.highlight-\#318bff,
.wiki-content tbody tr th.highlight-\#318bff > p,
.wiki-content tbody tr td.highlight-\#318bff,
.wiki-content tbody tr td.highlight-\#318bff > p {
    background-color: #318bff;
}

.wiki-content th.highlight-\#4c9aff,
.wiki-content th.highlight-\#4c9aff > p,
.wiki-content td.highlight-\#4c9aff,
.wiki-content td.highlight-\#4c9aff > p,
.wiki-content tbody tr th.highlight-\#4c9aff,
.wiki-content tbody tr th.highlight-\#4c9aff > p,
.wiki-content tbody tr td.highlight-\#4c9aff,
.wiki-content tbody tr td.highlight-\#4c9aff > p {
    background-color: #4c9aff;
}

.wiki-content th.highlight-\#4c9aff,
.wiki-content th.highlight-\#4c9aff > p,
.wiki-content td.highlight-\#4c9aff,
.wiki-content td.highlight-\#4c9aff > p,
.wiki-content tbody tr th.highlight-\#4c9aff,
.wiki-content tbody tr th.highlight-\#4c9aff > p,
.wiki-content tbody tr td.highlight-\#4c9aff,
.wiki-content tbody tr td.highlight-\#4c9aff > p {
    background-color: #4c9aff;
}

.wiki-content th.highlight-\#b3d4ff,
.wiki-content th.highlight-\#b3d4ff > p,
.wiki-content td.highlight-\#b3d4ff,
.wiki-content td.highlight-\#b3d4ff > p,
.wiki-content tbody tr th.highlight-\#b3d4ff,
.wiki-content tbody tr th.highlight-\#b3d4ff > p,
.wiki-content tbody tr td.highlight-\#b3d4ff,
.wiki-content tbody tr td.highlight-\#b3d4ff > p {
    background-color: #b3d4ff;
}

.wiki-content th.highlight-\#94c3ff,
.wiki-content th.highlight-\#94c3ff > p,
.wiki-content td.highlight-\#94c3ff,
.wiki-content td.highlight-\#94c3ff > p,
.wiki-content tbody tr th.highlight-\#94c3ff,
.wiki-content tbody tr th.highlight-\#94c3ff > p,
.wiki-content tbody tr td.highlight-\#94c3ff,
.wiki-content tbody tr td.highlight-\#94c3ff > p {
    background-color: #94c3ff;
}

.wiki-content th.highlight-\#deebff,
.wiki-content th.highlight-\#deebff > p,
.wiki-content td.highlight-\#deebff,
.wiki-content td.highlight-\#deebff > p,
.wiki-content tbody tr th.highlight-\#deebff,
.wiki-content tbody tr th.highlight-\#deebff > p,
.wiki-content tbody tr td.highlight-\#deebff,
.wiki-content tbody tr td.highlight-\#deebff > p {
    background-color: #deebff;
}

.wiki-content th.highlight-\#b2d3ff,
.wiki-content th.highlight-\#b2d3ff > p,
.wiki-content td.highlight-\#b2d3ff,
.wiki-content td.highlight-\#b2d3ff > p,
.wiki-content tbody tr th.highlight-\#b2d3ff,
.wiki-content tbody tr th.highlight-\#b2d3ff > p,
.wiki-content tbody tr td.highlight-\#b2d3ff,
.wiki-content tbody tr td.highlight-\#b2d3ff > p {
    background-color: #b2d3ff;
}

.wiki-content th.highlight-\#403294,
.wiki-content th.highlight-\#403294 > p,
.wiki-content td.highlight-\#403294,
.wiki-content td.highlight-\#403294 > p,
.wiki-content tbody tr th.highlight-\#403294,
.wiki-content tbody tr th.highlight-\#403294 > p,
.wiki-content tbody tr td.highlight-\#403294,
.wiki-content tbody tr td.highlight-\#403294 > p {
    background-color: #403294;
}

.wiki-content th.highlight-\#4451b4,
.wiki-content th.highlight-\#4451b4 > p,
.wiki-content td.highlight-\#4451b4,
.wiki-content td.highlight-\#4451b4 > p,
.wiki-content tbody tr th.highlight-\#4451b4,
.wiki-content tbody tr th.highlight-\#4451b4 > p,
.wiki-content tbody tr td.highlight-\#4451b4,
.wiki-content tbody tr td.highlight-\#4451b4 > p {
    background-color: #4451b4;
}

.wiki-content th.highlight-\#5243aa,
.wiki-content th.highlight-\#5243aa > p,
.wiki-content td.highlight-\#5243aa,
.wiki-content td.highlight-\#5243aa > p,
.wiki-content tbody tr th.highlight-\#5243aa,
.wiki-content tbody tr th.highlight-\#5243aa > p,
.wiki-content tbody tr td.highlight-\#5243aa,
.wiki-content tbody tr td.highlight-\#5243aa > p {
    background-color: #5243aa;
}

.wiki-content th.highlight-\#505dc4,
.wiki-content th.highlight-\#505dc4 > p,
.wiki-content td.highlight-\#505dc4,
.wiki-content td.highlight-\#505dc4 > p,
.wiki-content tbody tr th.highlight-\#505dc4,
.wiki-content tbody tr th.highlight-\#505dc4 > p,
.wiki-content tbody tr td.highlight-\#505dc4,
.wiki-content tbody tr td.highlight-\#505dc4 > p {
    background-color: #505dc4;
}

.wiki-content th.highlight-\#6554c0,
.wiki-content th.highlight-\#6554c0 > p,
.wiki-content td.highlight-\#6554c0,
.wiki-content td.highlight-\#6554c0 > p,
.wiki-content tbody tr th.highlight-\#6554c0,
.wiki-content tbody tr th.highlight-\#6554c0 > p,
.wiki-content tbody tr td.highlight-\#6554c0,
.wiki-content tbody tr td.highlight-\#6554c0 > p {
    background-color: #6554c0;
}

.wiki-content th.highlight-\#5d69d3,
.wiki-content th.highlight-\#5d69d3 > p,
.wiki-content td.highlight-\#5d69d3,
.wiki-content td.highlight-\#5d69d3 > p,
.wiki-content tbody tr th.highlight-\#5d69d3,
.wiki-content tbody tr th.highlight-\#5d69d3 > p,
.wiki-content tbody tr td.highlight-\#5d69d3,
.wiki-content tbody tr td.highlight-\#5d69d3 > p {
    background-color: #5d69d3;
}

.wiki-content th.highlight-\#8777d9,
.wiki-content th.highlight-\#8777d9 > p,
.wiki-content td.highlight-\#8777d9,
.wiki-content td.highlight-\#8777d9 > p,
.wiki-content tbody tr th.highlight-\#8777d9,
.wiki-content tbody tr th.highlight-\#8777d9 > p,
.wiki-content tbody tr td.highlight-\#8777d9,
.wiki-content tbody tr td.highlight-\#8777d9 > p {
    background-color: #8777d9;
}

.wiki-content th.highlight-\#7582e4,
.wiki-content th.highlight-\#7582e4 > p,
.wiki-content td.highlight-\#7582e4,
.wiki-content td.highlight-\#7582e4 > p,
.wiki-content tbody tr th.highlight-\#7582e4,
.wiki-content tbody tr th.highlight-\#7582e4 > p,
.wiki-content tbody tr td.highlight-\#7582e4,
.wiki-content tbody tr td.highlight-\#7582e4 > p {
    background-color: #7582e4;
}

.wiki-content th.highlight-\#998dd9,
.wiki-content th.highlight-\#998dd9 > p,
.wiki-content td.highlight-\#998dd9,
.wiki-content td.highlight-\#998dd9 > p,
.wiki-content tbody tr th.highlight-\#998dd9,
.wiki-content tbody tr th.highlight-\#998dd9 > p,
.wiki-content tbody tr td.highlight-\#998dd9,
.wiki-content tbody tr td.highlight-\#998dd9 > p {
    background-color: #998dd9;
}

.wiki-content th.highlight-\#8291e4,
.wiki-content th.highlight-\#8291e4 > p,
.wiki-content td.highlight-\#8291e4,
.wiki-content td.highlight-\#8291e4 > p,
.wiki-content tbody tr th.highlight-\#8291e4,
.wiki-content tbody tr th.highlight-\#8291e4 > p,
.wiki-content tbody tr td.highlight-\#8291e4,
.wiki-content tbody tr td.highlight-\#8291e4 > p {
    background-color: #8291e4;
}

.wiki-content th.highlight-\#c0b6f2,
.wiki-content th.highlight-\#c0b6f2 > p,
.wiki-content td.highlight-\#c0b6f2,
.wiki-content td.highlight-\#c0b6f2 > p,
.wiki-content tbody tr th.highlight-\#c0b6f2,
.wiki-content tbody tr th.highlight-\#c0b6f2 > p,
.wiki-content tbody tr td.highlight-\#c0b6f2,
.wiki-content tbody tr td.highlight-\#c0b6f2 > p {
    background-color: #c0b6f2;
}

.wiki-content th.highlight-\#9daef6,
.wiki-content th.highlight-\#9daef6 > p,
.wiki-content td.highlight-\#9daef6,
.wiki-content td.highlight-\#9daef6 > p,
.wiki-content tbody tr th.highlight-\#9daef6,
.wiki-content tbody tr th.highlight-\#9daef6 > p,
.wiki-content tbody tr td.highlight-\#9daef6,
.wiki-content tbody tr td.highlight-\#9daef6 > p {
    background-color: #9daef6;
}

.wiki-content th.highlight-\#eae6ff,
.wiki-content th.highlight-\#eae6ff > p,
.wiki-content td.highlight-\#eae6ff,
.wiki-content td.highlight-\#eae6ff > p,
.wiki-content tbody tr th.highlight-\#eae6ff,
.wiki-content tbody tr th.highlight-\#eae6ff > p,
.wiki-content tbody tr td.highlight-\#eae6ff,
.wiki-content tbody tr td.highlight-\#eae6ff > p {
    background-color: #eae6ff;
}

.wiki-content th.highlight-\#bbcfff,
.wiki-content th.highlight-\#bbcfff > p,
.wiki-content td.highlight-\#bbcfff,
.wiki-content td.highlight-\#bbcfff > p,
.wiki-content tbody tr th.highlight-\#bbcfff,
.wiki-content tbody tr th.highlight-\#bbcfff > p,
.wiki-content tbody tr td.highlight-\#bbcfff,
.wiki-content tbody tr td.highlight-\#bbcfff > p {
    background-color: #bbcfff;
}

.wiki-content th.highlight-\#000000,
.wiki-content th.highlight-\#000000 > p,
.wiki-content td.highlight-\#000000,
.wiki-content td.highlight-\#000000 > p,
.wiki-content tbody tr th.highlight-\#000000,
.wiki-content tbody tr th.highlight-\#000000 > p,
.wiki-content tbody tr td.highlight-\#000000,
.wiki-content tbody tr td.highlight-\#000000 > p {
    background-color: #000000;
}

.wiki-content th.highlight-\#172e4d,
.wiki-content th.highlight-\#172e4d > p,
.wiki-content td.highlight-\#172e4d,
.wiki-content td.highlight-\#172e4d > p,
.wiki-content tbody tr th.highlight-\#172e4d,
.wiki-content tbody tr th.highlight-\#172e4d > p,
.wiki-content tbody tr td.highlight-\#172e4d,
.wiki-content tbody tr td.highlight-\#172e4d > p {
    background-color: #172e4d;
}


/* Section / Column Tables ***********************************************************************/

.wiki-content table.sectionMacro .confluenceTd,
.wiki-content table.sectionMacro .confluenceTh {
    border: 1px solid #DDDDDD;
}

.wiki-content table.sectionMacro,
.wiki-content table.sectionMacroWithBorder {
    margin-bottom: 1em;
    width: 100%;
}
.wiki-content table.sectionMacro {
    border: none;
}
.wiki-content table.sectionMacroWithBorder {
    border: 1px solid #DDDDDD;
}


.wiki-content table.sectionMacro td,
.wiki-content table.sectionMacroWithBorder td {
    vertical-align: top;
}
.wiki-content table.sectionMacro td {
    border: none;
}
.wiki-content table.sectionMacroWithBorder td {
    border: 1px solid #DDDDDD;
}


/* Blockquote ************************************************************************************/

.wiki-content blockquote {
    border-left: 1px solid #3C78B5;
    color: #222222;
    font-style: italic;
    margin: 1.5em 1em;
    padding-left: 1em;
}


/* Captions **************************************************************************************/

.wiki-content .caption {
	font-weight: bold;
	padding-top: 0.5em;
}

cite:before {
    content: "\2014 \2009";
}


/* Lists *****************************************************************************************/

.wiki-content ol, ul {
    padding-left: 3em;
}

.wiki-content ol,
.wiki-content ol ol ol ol,
.wiki-content ol ol ol ol ol ol ol,
.wiki-content ol ol ol ol ol ol ol ol ol ol {
    list-style-type: decimal;
}

.wiki-content ol ol,
.wiki-content ol ol ol ol ol,
.wiki-content ol ol ol ol ol ol ol ol,
.wiki-content ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-alpha;
}

.wiki-content ol ol ol,
.wiki-content ol ol ol ol ol ol,
.wiki-content ol ol ol ol ol ol ol ol ol,
.wiki-content ol ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-roman;
}

.wiki-content .inline-task-list li {
    list-style: none;
    padding-left: 22px;
    margin-left: -22px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 3px;
    background-image: url('../images/checkbox-unchecked.png');
}

.wiki-content .inline-task-list li.checked {
    background-image: url('../images/checkbox-checked.png');
}


/* Status Macro **********************************************************************************/

.wiki-content span.status {
    display: inline-block;
    min-width: 7.5em;
    margin: 1px 0px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7em;
    line-height: 1.1em;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.wiki-content span.status.grey {
    color: #333333;
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

.wiki-content span.status.grey.subtle {
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.wiki-content span.status.red {
    color: #ffffff;
    background-color: #d04437;
    border: 1px solid #d04437;
}

.wiki-content span.status.red.subtle {
    color: #d04437;
    background-color: #ffffff;
    border: 1px solid #f8d3d1;
}

.wiki-content span.status.green {
    color: #ffffff;
    background-color: #14892c;
    border: 1px solid #14892c;
}

.wiki-content span.status.green.subtle {
    color: #14892c;
    background-color: #ffffff;
    border: 1px solid #b2d8b9;
}

.wiki-content span.status.yellow {
    color: #594300;
    background-color: #ffd351;
    border: 1px solid #ffd351;
}

.wiki-content span.status.yellow.subtle {
    color: #594300;
    background-color: #ffffff;
    border: 1px solid #ffe28c;
}

.wiki-content span.status.blue {
    color: #ffffff;
    background-color: #4a6785;
    border: 1px solid #4a6785;
}

.wiki-content span.status.blue.subtle {
    color: #4a6785;
    background-color: #ffffff;
    border: 1px solid #e4e8ed;
}


/* Panels, Admonitions ***************************************************************************/

.wiki-content div.confbox {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}

.wiki-content div.panel {
    overflow: hidden;
}

.wiki-content div.confbox .title {
    font-weight: bold;
}

.wiki-content div.panel div.title.panel-header {
    padding: 0.5em 1em;
    border-bottom: 1px solid #BBBBBB;
    background-color: #F5F5F5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wiki-content div.panel div.panel-content {
    padding: 1em;
}

.wiki-content div.admonition {
    padding: 10px 10px 10px 36px;
    background-repeat: no-repeat;
    background-position: 0.75em 1em;
    position: relative;
}

.wiki-content div.admonition.has-no-icon {
    padding-left: 10px;
}

.wiki-content div.admonition p.title {
    margin: 0;
}

.wiki-content div.admonition span.admonition-icon {
    display: block;
    left: 10px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    vertical-align: text-bottom;
    height: 16px;
    width: 16px;
}

.wiki-content div.admonition span.admonition-icon:before {
    margin-top: -8px;
    font-size: 16px;
    color: inherit;
    font-family: "SP Atlassian Icons";
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    top: 50%;
}

.wiki-content div.admonition-info {
    background-color: #FCFCFC;
    border-color: #AAB8C6;
}

.wiki-content div.admonition-info span.admonition-icon:before {
    color: #4A6785;
    content: "\f16f";
}

.wiki-content div.admonition-note {
    background: #FFFDF6;
    border-color: #FFEAAE;
}

.wiki-content div.admonition-note span.admonition-icon:before {
    color: #594300;
    content: "\f1b3";
}

.wiki-content div.admonition-tip {
    background-color: #F3F9F4;
    border-color: #91C89C;
}

.wiki-content div.admonition-tip span.admonition-icon:before {
    color: #14892C;
    content: "\f104";
}

.wiki-content div.admonition-warning {
    background: #FFF8F7;
    border-color: #D04437;
}

.wiki-content div.admonition-warning span.admonition-icon:before {
    color: #CF4336;
    content: "\f15a";
}


/* Program Listings ******************************************************************************/

.wiki-content div.programlisting {
    counter-reset: scroll-code-numbering 1;
    padding: 0;
    border-style: solid;
    background-color: transparent;
    font-style: normal;
}

.wiki-content div.programlisting div.title {
    padding: 0.5em 1em;
    border-bottom: 1px solid #BBBBBB;
    background-color: #F5F5F5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wiki-content .syntaxhighlighter {font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;}

.wiki-content .syntaxhighlighter div.line {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.wiki-content .syntaxhighlighter div.line code {
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 4;
}

.wiki-content .syntaxhighlighter[data-linenumbers="true"] div.line:nth-child(n+2) {
    counter-increment: scroll-code-numbering;
}

.syntaxhighlighter[data-linenumbers="true"] div.line {
    position: relative;
    padding-left: calc(5em + 10px + 10px + 0.1em) !important; /* ::before width + padding + margin + border */
}

.wiki-content .syntaxhighlighter[data-linenumbers="true"] div.line::before {
    content: counter(scroll-code-numbering);
    padding-right:10px;
    margin-right: 10px;
    width: 5em;
    text-align: right;
    border-right: 0.1em solid #BBBBBB;
    border-top: none;
    border-bottom: none;
    background-color: #F5F5F5;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.wiki-content .syntaxhighlighter[data-linenumbers="true"] div.line:first-child,
.wiki-content .syntaxhighlighter[data-linenumbers="true"] div.line:first-child::before {padding-top:1em;}
.wiki-content .syntaxhighlighter[data-linenumbers="true"] div.line:last-child,
.wiki-content .syntaxhighlighter[data-linenumbers="true"] div.line:last-child::before {padding-bottom:1em;}
.wiki-content div.programlisting > div.syntaxhighlighter[data-linenumbers="false"] {padding: 1em;}
.wiki-content div.programlisting > div.syntaxhighlighter[data-linenumbers="true"] {padding: 0 1em 0 0;}

/* Default Syntax Highlighting Theme *************************************************************/

.wiki-content .syntaxhighlighter {
    background-color: #fff;
}

.wiki-content .syntaxhighlighter .plain,
.wiki-content .syntaxhighlighter .plain a {
    color: #000;
}

.wiki-content .syntaxhighlighter .comments,
.wiki-content .syntaxhighlighter .comments a {
    color: #008200;
}

.wiki-content .syntaxhighlighter .string,
.wiki-content .syntaxhighlighter .string a {
    color: #036;
}

.wiki-content .syntaxhighlighter .keyword {
    color: #369;
    font-weight: bold;
}

.wiki-content .syntaxhighlighter .preprocessor {
    color: gray;
}

.wiki-content .syntaxhighlighter .variable {
    color: #a70;
}

.wiki-content .syntaxhighlighter .value {
    color: #090;
}

.wiki-content .syntaxhighlighter .functions {
    color: #ff1493;
}

.wiki-content .syntaxhighlighter .constants {
    color: #0066CC;
}

.wiki-content .syntaxhighlighter .script {
    background-color: yellow;
}

.wiki-content .syntaxhighlighter .color1,
.wiki-content .syntaxhighlighter .color1 a {
    color: #808080;
}

.wiki-content .syntaxhighlighter .color2,
.wiki-content .syntaxhighlighter .color2 a {
    color: #ff1493;
}

.wiki-content .syntaxhighlighter .color3,
.wiki-content .syntaxhighlighter .color3 a {
    color: red;
}

/* Drawio macro ************************/

img.drawio-image-border {
    border: 1px solid rgb(208, 208, 208);
}

/* Latex Math Block macro **************/

.wiki-content table.latexmath-mathblock td {
    background-color: transparent;
    border-color: transparent;
}